{% extends "base.html" %}

{% block content %}

<h2>{{ room.name }}</h2>

{% if booking_date %}

<p>
    Дата: {{ booking_date }}
</p>

{% endif %}
<p>
    Room ID: {{ room.id }}
</p>

<p class="text-muted">
    Доступность на {{ booking_date }}
</p>

<form method="get">

    <input
    type="date"
    name="booking_date"
    value="{{ booking_date }}"
    >

    <button>
        Показать
    </button>

</form>

{% if availability %}

<table class="table mt-3">

    <tr>
        <th>Начало</th>
        <th>Конец</th>
        <th>Статус</th>
        <th>Действие</th>
    </tr>

    {% for slot in availability %}

    <tr>

        <td>{{ slot.start_time }}</td>

        <td>{{ slot.end_time }}</td>

        <td>

            {% if slot.available %}
                
                <span class="badge bg-success">
                    Свободно
                </span>

            {% else %}
                <span class="badge bg-danger">
                    Занято
                </span>
            
            {% endif %}

        </td>

        <td>

    {% if slot.available %}

    <form
        method="post"
        action="/rooms/{{ room.id }}/book"
    >

        <input
            type="hidden"
            name="slot_id"
            value="{{ slot.slot_id }}"
        >

        <input
            type="hidden"
            name="booking_date"
            value="{{ booking_date }}"
        >

        <button
            class="btn btn-success btn-sm"
            type="submit"
        >
            Забронировать
        </button>

    </form>

    {% else %}

    —

    {% endif %}

</td>


    </tr>

    {% endfor %}

</table>

{% endif %}

<a
    href="/rooms"
    class="btn btn-secondary"
>
    Назад
</a>

{% endblock %}